@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");;
}

#app {
    @apply h-screen max-h-screen;
}

.cm-editor {
    @apply h-full border-b max-h-full;
}

.cm-editor .cm-scroller {
    @apply overflow-y-auto;
}

.cm-editor.cm-focused {
    outline: 0 !important;
}

.cm-editor.cm-focused .cm-selectionBackground, ::selection {
    @apply bg-blue-500;
}

.cm-editor .cm-content {
    font-family: "JetBrains Mono", ui-monospace, monospace;
    @apply bg-white/75 shadow-inner;
}

.cm-editor .cm-gutters {
    @apply bg-white/50 font-mono pl-2;
}